<div class="heading"><i class="bi bi-shop"></i> ShopEase</div>
<div class="loginbox">
    <h3 class="loginicon" ><i class="bi bi-box-arrow-in-right"></i> Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email or Mobile:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email or mobile number" name="email" formControlName="emailOrMobile" >
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>

    <div class="loginpasswordinput">
      <input [type]="showPassword ? 'text' : 'password'"  class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName="password"  style="border: 0;" >
      <div class="eyebox"  >
        <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"  (click)="togglePasswordVisibility()"></i>   
      </div>
    </div>

  </div>
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
      <a href="" style="color: rgb(20,116,253); font-size: 16px; padding-left: 160px;" routerLink="/forgot">Forgot Password?</a>
    </label>
  </div>
   <button type="button"
            class="btn btn-primary btnlogin"
           routerLink="/dashboard"  (click)="login()" >
      <i class="bi bi-box-arrow-in-right"></i> Login
    </button>
   <hr>
   <p style="text-align: center;">Don't have an account? <a routerLink="/signup">Sign up</a><p>
</form>
</div>
