body{
    background-color: rgb(248,250,252);
}
.heading{
    height:70px;
    width: 100%;
    background-color:rgb(13,110,253);
    padding: 20px;
    padding-left: 5%;
    color: rgb(245, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.loginbox{
    margin-top: 40px;
    width: 35%;
    height: 75%;
    border: 0;
    margin-left: 33%;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.loginicon{
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 800; font-size: 31px;
}
.btnlogin{
    width: 440px;
}
.loginpasswordinput{
    display: flex;
    width: 92%;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    
}
.form-control{
 width: 92%;
}
.eyebox{
    padding: 4px;
}

