.header{
    width: 100%;
    height: 80px;
    background-color: rgb(33, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.buttons{
    display: flex;
    height: 82px;
}
.b1{
    color: blue;
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px solid blue;
    
    margin-right: 5px;
}
.b2{
    color: red;
    padding-left: 5px;
    padding-top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid red;
    text-align: center;
}
