body{
    background-color: rgb(248,250,252);
}
.heading{
    height:70px;
    width: 100%;
    background-color:rgb(13,110,253);
    padding: 20px;
    padding-left: 5%;
    color: rgb(245, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.signupbox{
    margin-top: 40px;
    width: 35%;
    height: 700px;
    border: 0;
    margin-left: 33%;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.signupicon{
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 700; 
    font-size: 31px;
}
.btnlogin{
    width: 440px;
}
.signuppasswordinput{
    display: flex;
}
eyebox{
    width: 20px;
    height: 20px;
    border: 2px solid black;
}
