.heading{
    height:70px;
    width: 100%;
    background-color:rgb(13,110,253);
    padding: 20px;
    padding-left: 5%;
    color: rgb(245, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.left{
    width: 600px;
    height: 400px;
    margin: 40px;

}
.left img{
    height: 100%;
    width: 100%;
}
.right{
    width: 40%;
    height: 100%;
    margin-left: 10px;
    margin-top: 35px;
}