.heading{
    height:70px;
    width: 100%;
    background-color:rgb(13,110,253);
    padding: 20px;
    padding-left: 5%;
    color: rgb(245, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: sticky;
}
.searchtab{
    margin-left: 200px;
    border-radius: 5px;
    border: 1px solid grey;
    height: 42px;
    padding-left: 10px;
    font-size: 18px;
    width: 20%;
}
.magnifydiv{
    margin-left: 10px;
    background-color: white;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    color: black;
    padding-left:15px;
    padding-top: 5px;
    font-size: 20px;
}
.cartdiv{
    margin-left: 300px;
}
.cla{
    font-size: 18px;
    font-weight: 500;
    color:rgb(228, 225, 225);
    padding-right: 20px;
    opacity: 0.7;
}
.admin{
    margin-left: 10px;

}
.logout{
    margin-top: 18px;
    margin-left: 10px;
}
.description{
    width: 100%;
    height: 40%;
    background-color: rgb(32,74,192);
    padding-top:5%;
    padding-left: 35%;
    color: white;
    
}
.description h1{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description p{
    font-weight: 100;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-left: 5px;
}
.sortbox{
    margin-top: 3%;
    height: 320px;
    width: 270px;
    margin-left: 4%;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    padding: 20px;
}
.leftitems{
    
    margin-bottom: 10px;
}

.inputs{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}
.clearbutton{
    margin-top:20px;
    color: gray;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
}
.mainbox{
    display: flex;
}
.productspage{
  margin-left: 20px;
  margin-top: 40px;
  width: 73%;
  height: 200%;
  
}
